/* GRID STYLING */

.container {
	display: grid;

	/* setting up a series of columns + rows */

	/* create 3 columns of different widths */
	/* grid-template-columns: 50px 100px 150px; */

	/* fr is a unit that divides up the space (excluding absolute units like px) */
	/* 2fr would take 2x the space as 1fr... 3fr would take 3x the space as 1fr */
	/* grid-template-columns: 1fr 1fr 2fr; */

	/* repeat allows us to create identical column/row sizes quickly */
	/* grid-template-columns: 1fr 1fr 1fr 1fr; */
	grid-template-columns: repeat(4, 1fr);

	/* create 3 rows of different widths */
	grid-template-rows: 50px 100px 150px;

	/* do new items get added in the direction of a new row or a new column? */
	/* in this case additional rows get added */
	grid-auto-flow: row;

	/* any overflow (extra) items will be 200px tall in a new row */
	grid-auto-rows: 200px;

	/* gap is the distance between each item */
	gap: 10px;
}

/* PREVIOUS STYLING */

*, *::before, *::after { 
	box-sizing: border-box;
}
html {
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
body {
	font-family: sans-serif;
	margin: 0;
}
img {
	max-width: 100%;
	vertical-align: bottom;
}
.container {
	border: 8px solid orange;
}
.container div {
	color: white;
	padding: 10px;
	text-align: center;
}
.container div:nth-child(4n+1) {
	background: #0db8e8;
}
.container div:nth-child(4n+2) {
	background: #0978e2;
}
.container div:nth-child(4n+3) {
	background: #0000d5;
}
.container div:nth-child(4n+4) {
	background: #9700da;
}