/* FLEXBOX STYLING */

/* navbar is a flex container */
/* it's in charge of determining various flexbox rules */
/* any CHILDREN inside of it abide by those flex rules */
.navbar {
	display: flex;
	
	/* spacing / positioning along the major axis */
	/* major axis --> left to right */
	justify-content: right;
	/* start/left end/right center space-between space-around space-evenly */

	/* space / positioning along the secondary axis */
	/* secondary axis --> top to bottom */
	align-items: center;
	/* by default align-items is set to `stretch` */
	/* stretch start end center */

	/* the major axis is whatever direction the flexbox is going in */
	/* by default major is row (left to right) */
	flex-direction: row;

	height: 600px;
}

.contact {
	/* margin auto will push this element away from other elements and create as much space between them as it can */
	/* margin-left: auto;
	margin-right: auto; */

	/* flex-grow tells the element to take up additional space */
	/* if nothing is pushing against the element it will take up ALL the additional space it can */
	/* flex-grow grows along the major axis */
	/* for cross-axis growth we can set that with height or something along those lines */
	flex-grow: 2;
	height: 50%;

	/* turn the contact item into a another flex container */
	/* justify-content and align-items center will perfectly center the word inside of it */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.signup {
	/* this can also be used to push elements away from the edge of the screen */
	/* margin-right: auto; */

	/* flex-grow: 1; */

	/* align-self overrides align-items for this element */
	align-self: start;
}

.hikes {
	/* don't attempt to take extra space and grow */
	/* this is more or less the default */
	flex-grow: 0;

	/* flex-shrink 0 tells an element not to shrink as the page gets smaller */
	flex-shrink: 0;
}

.logo {
	align-self: end;

	/* flex-basis tells our flexbox what the natural size for an element is */
	flex-basis: 500px;

	/* flex-grow flex-shrink flex-basis */
	flex: 2 0 auto;
}

footer {
	display: flex;
	justify-content: space-evenly;

	min-width: 200px;

	/* flex- */
	flex-wrap: wrap;

}

/* reorder content */
.address {
	order: 2;
}

.copyright {
	order: 1;
}

.social {
	order: 3;
}

/* PREVIOUS STYLING */

*, *::before, *::after { 
	box-sizing: border-box;
}
html {
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
body {
	font-family: sans-serif;
	margin: 0;
}
img {
	max-width: 100%;
	vertical-align: bottom;
}
.navbar {
	border: 8px solid gray;
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}
.navbar li {
	color: white;
	padding: 10px;
}
.navbar .logo {
	background: #0db8e8;
}
.navbar .hikes {
	background: #0978e2;
}
.navbar .about {
	background: #0000d5;
}
.navbar .contact {
	background: #9700da;
}
.navbar .signup {
	background: #dc00d4;
	font-size: 1.5em;
}
footer {
	border: 8px solid gray;
	margin-top: 20px;
}
footer div {
	border: 2px solid red;
	padding: 10px;
}